/tmp
/test
/node_modules
/dist
/build
/.env
/env
/config
/logs
/.vscode
/data-pipeline/airflow/config/schedules.json
.DS_Store
__pycache__
*.log
*.tmp
*.bak
*.swp
*.swo
*.zip
*.tar.gz
*.tar
*.rar
*.7z
*.exe
*.dll
*.so
*.dylib
*.pyc
*.pyo
*.class
*.jar
*.war
*.ear
*.iml
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.code-workspace
.env